<div (click)="userSelected(name)">
Show details <a>{{name.title}} 
    <button (click)="edit(name)">Edit</button>                
    <div *ngIf="name.isEdit">           
                <app-edit-song 
                [nameSong]="name" 
                (clickEmitter)="edit($event)">
                </app-edit-song>
    </div>
            </a>
    <div  *ngIf="name.showDetails">
        <ul>
            <li>                 {{name.performer}}</li>
            <li>                 {{name.publishing}}</li>
            <li>                 {{name.type}}</li>
            <li>                 {{name.year}}</li>
        </ul>
    </div>
</div>



